h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding-top: 9px
}

.title-with-help {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}

.help-button {
    cursor: pointer;
    appearance: none;
    border:0;
    background: none;
    padding-top: 9px;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
}